<div class="container">

	<!--search client activities-->
	<form action="/client_activities/search" method="get">

		<div class="form-group col-md-7">
			<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
		</div>
		<div class="form-group col-md-3">
			<!--select what to filter the search results by-->
			<select class="form-control" name="filter">
				<option value="activity_name">Activity Name</option>
				<option value="last_name">Last Name</option>
				<option value="first_name">First Name</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<button type="submit" class="btn btn-primary btn-block">Search Client Activities</button>
		</div>

	</form>

	<!--display table-->
	<div>
		<table class='table'>
			<thead>
				<tr>
					<th>Client ID </th>
					<th>Client Last Name</th>
					<th>Client First Name</th>
					<th>Activity Name</th>
			</thead>
			<tbody>
				<!--using handlebars to display each row from database-->
				{{#each client_activities}}
				<tr>
					<td>{{cid}}</td>
					<td>{{last_name}}</td>
					<td>{{first_name}}</td>
					<td>{{activity_name}}</td>
					<td>
						<!--button to redirect to update modal of selected row-->
						<button type="button" class="btn btn-warning btn-padded inTableButton" data-toggle="modal"
							data-target="#client_activitiesUpdate{{cid}}"> Update </button>
					</td>
					<td>
						<!--button to call delete function in js for selected row and make sure to select both cid and aid-->
						<form action="client_activities/delete" method="post">
							<input type="hidden" name="deletecid" value="{{cid}}">
							<input type="hidden" name="deleteaid" value="{{aid}}">
							<button type="submit" class="btn btn-danger inTableButton"> Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>


	<!--add to client activities-->
	<div class="buttonCont">
		<button class="btn btn-success btn-lg btn-block" type="button" data-toggle="modal"
			data-target="#addclient_activities" aria-expanded="false" aria-controls="addaccount">Add a New
			Activity</button><br />
	</div>
	<!--Bootstrap styling of modal-->
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="addclient_activities" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/client_activities/add" method="post">

						<div class="modal-header">
							<h4 class="modal-title"> Add a New Activity</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<!--fileds to add new input-->
								<label>Client Name</label>
								<select name="new_cid">
									<!--selecting from existing clients-->
									{{#each clients}}
									<option value="{{id}}">{{first_name}} {{last_name}}</option>
									{{/each}}
								</select>
								<label>Activity Name</label>
								<select name="new_aid">
									<!--selecting from exisiting actitvities-->
									{{#each activities}}
									<option value="{{id}}">{{activity_name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Add Activity</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--update client activities-->
	{{#each client_activities}}
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="client_activitiesUpdate{{cid}}" tabindex="-1" role="dialog"
			aria-hidden="true">
			<!--bootstrap styling-->
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/client_activities/update" method="post">
						<input type="hidden" name="updatecid" value="{{cid}}">
						<input type="hidden" name="updateaid" value="{{aid}}">
						<div class="modal-header text-left">
							<!--data manipulation inputs for each of the selected rows, values will already be prepopulated-->
							<h4 class="modal-title"> Update Client</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editaid">Activity Name</label>
								<select name="editaid">
									<!--selecting from activities-->
									{{#each ../activities}}
									<option value="{{id}}">{{activity_name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Update Activity
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>