<div class="container">

	<!--search destination-->
	<form action="/destination/search" method="get">

		<div class="form-group col-md-7">
			<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
		</div>
		<div class="form-group col-md-3">
			<!--select what to filter the search results by-->
			<select class="form-control" name="filter">
				<option value="city">City</option>
				<option value="state">State</option>
				<option value="country">Country</option>
				<option value="hotel">Hotel</option>
				<option value="stay">Length of Stay</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<button type="submit" class="btn btn-primary btn-block">Search Destination</button>
		</div>

	</form>

	<!--display destination table-->
	<div>
		<table class='table'>
			<thead>
				<tr>
					<th>Destination ID</th>
					<th>City</th>
					<th>State</th>
					<th>Country</th>
					<th>Hotel</th>
					<th>Length of Stay</th>
				</tr>
			</thead>
			<tbody>
				<!--using handlebars to display each row from database-->
				{{#each destination}}
				<tr>
					<td>{{id}}</td>
					<td>{{city}}</td>
					<td>{{state}}</td>
					<td>{{country}}</td>
					<td>{{hotel}}</td>
					<td>{{stay}} days</td>


					<td>
						<!--button to redirect to update modal of selected row-->
						<button type="button" class="btn btn-warning btn-padded inTableButton" data-toggle="modal"
							data-target="#destinationUpdate{{id}}"> Update </button>
					</td>
					<td>
						<!--button to call delete function in js for selected row-->
						<form action="destination/delete" method="post">
							<input type="hidden" name="deleteGID" value="{{id}}">
							<button type="submit" class="btn btn-danger inTableButton"> Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>


	<!--add to destination-->
	<div class="buttonCont">
		<button class="btn btn-success btn-lg btn-block" type="button" data-toggle="modal" data-target="#adddestination"
			aria-expanded="false" aria-controls="addaccount">Add a New Destination</button><br />
	</div>
	<!--Bootstrap styling of modal-->
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="adddestination" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/destination/add" method="post">

						<div class="modal-header">
							<h4 class="modal-title"> Add a New Destination</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!--fileds to add new input-->
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label>City</label>
								<input type="text" class="form-control" name="new_city" placeholder="enter city">
							</div>
							<div class="md-form mb-1">
								<label>State</label>
								<input type="text" class="form-control" name="new_state" placeholder="state">
							</div>
							<div class="md-form mb-1">
								<label>Country</label>
								<input type="text" class="form-control" name="new_country" placeholder="enter country">

								<label>Hotel</label>
								<input type="text" class="form-control" name="new_hotel" placeholder="enter hotel name">

								<label>Length of Stay</label>
								<input type="number" class="form-control" name="new_stay"
									placeholder="enter length of stay in days">
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Add Destination</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--Uupdate destination table-->
	{{#each destination}}
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="destinationUpdate{{id}}" tabindex="-1" role="dialog"
			aria-hidden="true">
			<!--bootstrap styling-->
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/destination/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-left">
							<h4 class="modal-title"> Update Destination</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!--data manipulation inputs for each of the selected rows, values will already be prepopulated-->
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editcity">City</label>
								<input type="text" name="editcity" class="form-control validate" value="{{city}}"
									required>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editstate">State</label>
								<input type="text" name="editstate" class="form-control validate" value="{{state}}"
									required>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editcountry">Country</label>
								<input type="text" name="editcountry" class="form-control validate" value="{{country}}"
									required>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="edithotel">Hotel</label>
								<input type="text" name="edithotel" class="form-control validate" value="{{hotel}}"
									required>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editstay">Length of Stay</label>
								<input type="text" name="editstay" class="form-control validate" value="{{stay}}"
									required>
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Update Destination
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>