    <header>
        <div class="primary_header">
            <h1 class="title">eSupport Solutions</h1>
        </div>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <a href="/tickets">Active Support Tickets</a>
			<a href="/members">Support Members</a>
            <a href="/new_ticket">Client Side</a>
        </div>
    </header>

	<!--display table-->
	<div>
		<table class='table'>
			<thead>
				<tr>
					<th>ID</th>
					<th>Member Name</th>
					<th>Assigned Tickets</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!--using handlebars to display each row from database-->
				{{#each members}}
				<tr>
					<td>{{id}}</td>
					<td>{{member_name}}</td>
					<td>{{tickets_num}}</td>
					<td>
						<!--button to call delete function in js for selected row-->
						<form action="/tickets/search" method="get">
							<input type="hidden" name="search" value="{{member_name}}">
							<button type="submit" class="btn btn-warning inTableButton">Show Assigned Tickets</button>
							<div class="hide"><select class="form-control" name="filter">
							<option value="member_name">Team Member</option>
							</select></div>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<!--update tickets-->
	{{#each tickets}}
	<!--bootstrap styling-->
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="ticketsUpdate{{id}}" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/tickets/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-left">
							<h4 class="modal-title">{{title}}</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!--data manipulation inputs for each of the selected rows, values will already be prepopulated-->
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right">Issue Description</label>
								<p>{{issue}}</p>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editPriority">Edit Issue Priority</label>
								<select name="editPriority">
									<!--selecting destination city-->
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editMember">Assigned Team Member</label>
								<select name="editMember">
									<!--selecting destination city-->
									{{#each ../members}}
									<option>{{member_name}}</option>
									{{/each}}
								</select>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editUpdates">Send an Update to Customer</label>
								<textarea class="form-control" rows="3" name="editUpdates" placeholder="No updates. Send One?">{{updates}}</textarea>
							</div>
						</div>
					<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Update Current Ticket
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}


	<!--update tickets-->
	{{#each tickets}}
	<!--bootstrap styling-->
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="ticketsChat{{id}}" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/tickets/chat" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-left">
							<h4 class="modal-title">Chat with {{sub_name}}</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!--data manipulation inputs for each of the selected rows, values will already be prepopulated-->
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right">Chat with a Support Member</label>
								<p>{{note}}</p>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editNote">Send Chat</label>
								<textarea class="form-control" rows="3" name="editNote" placeholder="No notes. Add one?">{{member_name}}: </textarea>
							</div>
						</div>
					<div class="modal-footer d-flex justify-content-center updateInsideWrapper">

							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Send
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>