    <div class="header">
        <div class="customer_header">
			<div><img src="/images/logo.png" alt="Benny Logo" width="100" height="120"></div>
			<div><h1 class="title">Benny Services - Support Center</h1></div>
        </div>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <a href="/my_tickets">My Tickets</a>
            <a href="/new_ticket">Create a New Ticket</a>
            <a href="/tickets">Manager Side</a>
        </div>
    </div>


<div class="custcontainer">

	<!--search tickets-->
						<div class="modal-header">
							<h3 class="modal-title"> My Tickets</h4>
						</div>

	<!--display table-->
	<div>
		<table class='table'>
			<thead>
				<tr>
					<th>Ticket Category</th>
					<th>Ticket Title</th>
					<th>Assigned Support Specialist</th>
					<th>Submission Date</th>
					<th>Ticket Status</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!--using handlebars to display each row from database-->
				{{#each tickets}}
				<tr>
					<td>{{category}}</td>
					<td>{{title}}</td>
					<td>{{member_name}}</td>
					<td>{{sub_date}}</td>
					<td>{{status}}</td>
					<td>
						<!--button to redirect to update modal of selected row-->
						<button type="button" class="btn btn-warning btn-padded inTableButton" data-toggle="modal"
							data-target="#ticketsUpdate{{id}}">View & Edit</button>
					</td>

					<td>
						<!--button to redirect to update modal of selected row-->
						<button type="button" class="btn btn-info btn-padded inTableButton" data-toggle="modal"
							data-target="#ticketsChat{{id}}">Chat</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>


	<!--add to tickets-->
	<div class="buttonCont">
		<button class="btn btn-success btn-lg btn-block" type="button" data-toggle="modal" data-target="/new_ticket"
			aria-expanded="false" aria-controls="addaccount" onclick="window.location.href = '/new_ticket'">Add a New Ticket</button><br />
	</div>

	<!--update tickets-->
	{{#each tickets}}
	<!--bootstrap styling-->
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="ticketsUpdate{{id}}" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/my_tickets/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-left">
							<h4 class="modal-title">{{title}}</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!--data manipulation inputs for each of the selected rows, values will already be prepopulated-->
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editCategory">Change Category</label>
								<select name="editCategory">
									<!--selecting destination city-->
									{{#each ../categories}}
									<option>{{category}}</option>
									{{/each}}
								</select>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editStatus">Change Status</label>
								<select name="editStatus">
									<!--selecting destination city-->
									<option>Open</option>
									<option>Closed</option>
								</select>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right">Updates from Support Member</label>
								<p>{{member_name}}: {{updates}}</p>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editIssue">Issue Description</label>
								<textarea class="form-control" rows="3" name="editIssue" placeholder="Add description:">{{issue}}</textarea>
							</div>
						</div>
					<div class="modal-footer d-flex justify-content-center updateInsideWrapper">

							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Update My Ticket
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}




	<!--update tickets-->
	{{#each tickets}}
	<!--bootstrap styling-->
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="ticketsChat{{id}}" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/my_tickets/chat" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-left">
							<h4 class="modal-title">Communication with {{member_name}}</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!--data manipulation inputs for each of the selected rows, values will already be prepopulated-->
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right">Chat with a Support Member</label>
								<p>{{note}}</p>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editNote">Send Chat</label>
								<textarea class="form-control" rows="3" name="editNote" placeholder="No notes. Add one?">{{sub_name}}: </textarea>
							</div>
						</div>
					<div class="modal-footer d-flex justify-content-center updateInsideWrapper">

							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Send
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}



